<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name = "Default"
		connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\С++\0.9 Мережеве програмування\!09_ДОМАШКИ\Екзамен_v2\Server\Users.mdf;Integrated Security=True"
       providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	
</configuration>